.no-results-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.profile-icon {
  position: absolute;
  right: 30rem;
  top: 5rem;
}
.no-results-container h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 28px;
  line-height: 34px;
  text-align: center;
  color: #f08889;
}
.no-results-container h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #9b9bb2;
  margin-top: 1rem;
  margin-bottom: 2rem;
}
@media (max-width: 1460px) {
  .no-results-container .profile-icon {
    right: 20rem;
  }
}
